div.box.errorBox {
	background-position: -1690px -390px;
}

div.boxWrapper.standard .box {
	background-position: 0 0;
}

div.boxWrapper.box1 .box {
	background-position: -130px 0;
}

div.boxWrapper.box2 .box {
	background-position: -260px 0;
}

div.boxWrapper.box3 .box {
	background-position: -390px 0;
}

div.boxWrapper.box4 .box {
	background-position: -650px 0;
}

div.boxWrapper.box5 .box {
	background-position: -780px 0;
}

div.boxWrapper.box6 .box {
	background-position: -1040px 0;
}

div.boxWrapper.box7 .box {
	background-position: -910px 0;
}

div.boxWrapper.box8 .box {
	background-position: -1430px 0;
}

div.boxWrapper.box9 .box {
	background-position: -1300px 0;
}

div.boxWrapper.box10 .box {
	background-position: -520px 0;
}

div.boxWrapper.box11 .box {
	background-position: -1560px 0;
}

div.boxWrapper.box12 .box {
	background-position: -1690px 0;
}

div.boxWrapper.box13 .box {
	background-position: -1170px 0;
}

/*  ---------------------------------------- */
div.boxWrapper.box1 div.relatedBox {
	background-position: -1072px -412px;
}

div.boxWrapper.box1 .groupedRelatedBox {
	background-position: -1072px -432px;
}

div.boxWrapper.box1 .relatedBox.inverse {
	background-position: -1072px -452px;
}

div.boxWrapper.box1 .groupedRelatedBox.inverse {
	background-position: -1072px -472px;
}

div.boxWrapper.box2 div.relatedBox {
	background-position: -1092px -412px;
}

div.boxWrapper.box2 .groupedRelatedBox {
	background-position: -1092px -432px;
}

div.boxWrapper.box2 .relatedBox.inverse {
	background-position: -1092px -452px;
}

div.boxWrapper.box2 .groupedRelatedBox.inverse {
	background-position: -1092px -472px;
}

div.boxWrapper.box3 div.relatedBox {
	background-position: -1112px -412px;
}

div.boxWrapper.box3 .groupedRelatedBox {
	background-position: -1112px -432px;
}

div.boxWrapper.box3 .relatedBox.inverse {
	background-position: -1112px -452px;
}

div.boxWrapper.box3 .groupedRelatedBox.inverse {
	background-position: -1112px -472px;
}

div.boxWrapper.box4 div.relatedBox {
	background-position: -1152px -412px;
}

div.boxWrapper.box4 .groupedRelatedBox {
	background-position: -1152px -432px;
}

div.boxWrapper.box4 .relatedBox.inverse {
	background-position: -1152px -452px;
}

div.boxWrapper.box4 .groupedRelatedBox.inverse {
	background-position: -1152px -472px;
}

div.boxWrapper.box5 div.relatedBox {
	background-position: -1172px -412px;
}

div.boxWrapper.box5 .groupedRelatedBox {
	background-position: -1172px -432px;
}

div.boxWrapper.box5 .relatedBox.inverse {
	background-position: -1172px -452px;
}

div.boxWrapper.box5 .groupedRelatedBox.inverse {
	background-position: -1172px -472px;
}

div.boxWrapper.box6 div.relatedBox {
	background-position: -1212px -412px;
}

div.boxWrapper.box6 .groupedRelatedBox {
	background-position: -1212px -432px;
}

div.boxWrapper.box6 .relatedBox.inverse {
	background-position: -1212px -452px;
}

div.boxWrapper.box6 .groupedRelatedBox.inverse {
	background-position: -1212px -472px;
}

div.boxWrapper.box7 div.relatedBox {
	background-position: -1192px -412px;
}

div.boxWrapper.box7 .groupedRelatedBox {
	background-position: -1192px -432px;
}

div.boxWrapper.box7 .relatedBox.inverse {
	background-position: -1192px -452px;
}

div.boxWrapper.box7 .groupedRelatedBox.inverse {
	background-position: -1192px -472px;
}

div.boxWrapper.box8 div.relatedBox {
	background-position: -1272px -412px;
}

div.boxWrapper.box8 .groupedRelatedBox {
	background-position: -1272px -432px;
}

div.boxWrapper.box8 .relatedBox.inverse {
	background-position: -1272px -452px;
}

div.boxWrapper.box8 .groupedRelatedBox.inverse {
	background-position: -1272px -472px;
}

div.boxWrapper.box9 div.relatedBox {
	background-position: -1252px -412px;
}

div.boxWrapper.box9 .groupedRelatedBox {
	background-position: -1252px -432px;
}

div.boxWrapper.box9 .relatedBox.inverse {
	background-position: -1252px -452px;
}

div.boxWrapper.box9 .groupedRelatedBox.inverse {
	background-position: -1252px -472px;
}

div.boxWrapper.box10 div.relatedBox {
	background-position: -1132px -412px;
}

div.boxWrapper.box10 .groupedRelatedBox {
	background-position: -1132px -432px;
}

div.boxWrapper.box10 .relatedBox.inverse {
	background-position: -1132px -452px;
}

div.boxWrapper.box10 .groupedRelatedBox.inverse {
	background-position: -1132px -472px;
}

div.boxWrapper.box11 div.relatedBox {
	background-position: -1292px -412px;
}

div.boxWrapper.box11 .groupedRelatedBox {
	background-position: -1292px -432px;
}

div.boxWrapper.box11 .relatedBox.inverse {
	background-position: -1292px -452px;
}

div.boxWrapper.box11 .groupedRelatedBox.inverse {
	background-position: -1292px -472px;
}

div.boxWrapper.box12 div.relatedBox {
	background-position: -1312px -412px;
}

div.boxWrapper.box12 .groupedRelatedBox {
	background-position: -1312px -432px;
}

div.boxWrapper.box12 .relatedBox.inverse {
	background-position: -1312px -452px;
}

div.boxWrapper.box12 .groupedRelatedBox.inverse {
	background-position: -1312px -472px;
}

div.boxWrapper.box13 div.relatedBox {
	background-position: -1232px -412px;
}

div.boxWrapper.box13 .groupedRelatedBox {
	background-position: -1232px -432px;
}

div.boxWrapper.box13 .relatedBox.inverse {
	background-position: -1232px -452px;
}

div.boxWrapper.box13 .groupedRelatedBox.inverse {
	background-position: -1232px -472px;
}

div.boxWrapper.Class .box {
	background-position: -1820px 0;
}

div.boxWrapper.Class div.relatedBox {
	background-position: -1332px -412px;
}

div.boxWrapper.Class .groupedRelatedBox {
	background-position: -1332px -432px;
}

div.boxWrapper.Class .relatedBox.inverse {
	background-position: -1332px -452px;
}

div.boxWrapper.Class .groupedRelatedBox.inverse {
	background-position: -1332px -472px;
}

div.boxWrapper.ObjectProperty .box {
	background-position: -1950px 0;
}

div.boxWrapper.ObjectProperty div.relatedBox {
	background-position: -1352px -412px;
}

div.boxWrapper.ObjectProperty .groupedRelatedBox {
	background-position: -1352px -432px;
}

div.boxWrapper.ObjectProperty .relatedBox.inverse {
	background-position: -1352px -452px;
}

div.boxWrapper.ObjectProperty .groupedRelatedBox.inverse {
	background-position: -1352px -472px;
}

div.boxWrapper.Property .box {
	background-position: -2080px 0;
}

div.boxWrapper.Property div.relatedBox {
	background-position: -1372px -412px;
}

div.boxWrapper.Property .groupedRelatedBox {
	background-position: -1372px -432px;
}

div.boxWrapper.Property .relatedBox.inverse {
	background-position: -1372px -452px;
}

div.boxWrapper.Property .groupedRelatedBox.inverse {
	background-position: -1372px -472px;
}

div.boxWrapper.DatatypeProperty .box {
	background-position: -2080px 0;
}

div.boxWrapper.DatatypeProperty div.relatedBox {
	background-position: -1372px -412px;
}

div.boxWrapper.DatatypeProperty .groupedRelatedBox {
	background-position: -1372px -432px;
}

div.boxWrapper.DatatypeProperty .relatedBox.inverse {
	background-position: -1372px -452px;
}

div.boxWrapper.DatatypeProperty .groupedRelatedBox.inverse {
	background-position: -1372px -472px;
}

* div.boxWrapper div.groupedRelatedBox.isSameAs {
	background-position: -1032px -432px;
}

* div.boxWrapper div.groupedRelatedBox.isSameAs.inverse {
	background-position: -1032px -472px;
}

* div.boxWrapper div.relatedBox.isSameAs.inverse {
	background-position: -1032px -452px;
}

* div.boxWrapper div.relatedBox.isSameAs {
	background-position: -1032px -412px;
}

* div.boxWrapper div.groupedRelatedBox.isType {
	background-position: -1012px -432px;
}

* div.boxWrapper div.groupedRelatedBox.isType.inverse {
	background-position: -1012px -472px;
}

* div.boxWrapper div.relatedBox.isType.inverse {
	background-position: -1012px -452px;
}

* div.boxWrapper div.relatedBox.isType {
	background-position: -1012px -412px;
}